#orderInfo {
  display: none;

  background-color: #ECCC72;
  padding: 10%;
  border: black dotted 1px;
}

#toggleShowing {
  display: none;
}

body {
  font-family: 'IM Fell English', serif;
  padding-top: 0px;
  background-image: url(../img/background.jpg);
  background-position: 0% 25%;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 500px;
}

p {
  font-size: 18px;
}
ul {
  font-size: 18px;
}
.jumbotron {
  margin-top: 30px;
  margin-bottom: 50px;
  background-image: url(../img/pizza.jpg);
  background-position: 0% 25%;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}

.jumbotext {
  margin-left: 20px;
  text-shadow: black 0.1em 0.2em 0.4em;
}

.footer {
  position: fixed;
  bottom: 0px;
  height: 30px;
  width: 100%;
  background: #ECCC72;
  text-align: center;
  color: #grey;
  margin-left: 0;
}



.pricing {
  text-shadow: white 0.1em 0.2em 0.4em;
}

.about {
  text-shadow: white 0.1em 0.2em 0.4em;
}

.pizzaOptions {
  text-shadow: white 0.1em 0.2em 0.4em;
}


p#toggle {
  text-decoration: underline;
}
